p, h1, h2, h3, h4, h5, h6, {
  font-family: "acumin-pro", sans-serif;
}


#navbar
{
	height: 20%;
}

.codesnippet
{
  font-family: "Courier New";
  font-size: 9pt;
}




            dummydeclaration { padding-left: 4em; } /* Firefox ignores first declaration for some reason */
            tab1 { padding-left: 4em; }
            tab2 { padding-left: 8em; }
            tab3 { padding-left: 12em; }
            tab4 { padding-left: 16em; }
            tab5 { padding-left: 20em; }
            tab6 { padding-left: 24em; }
            tab7 { padding-left: 28em; }
            tab8 { padding-left: 32em; }
            tab9 { padding-left: 36em; }
            tab10 { padding-left: 40em; }
            tab11 { padding-left: 44em; }
            tab12 { padding-left: 48em; }
            tab13 { padding-left: 52em; }
            tab14 { padding-left: 56em; }
            tab15 { padding-left: 60em; }
            tab16 { padding-left: 64em; }
            

.stroke-1 {
  stroke-linecap: butt;
}

.stroke-2 {
  stroke-linecap: square;
}

.stroke-3 {
  stroke-linecap: round;
}

/* DEMO STYLES */

line {
  stroke: orange;
  stroke-width: 5;
  width: 100%;
}

.PostDate {
  padding-top: 31px;

}

.BodyCopy {
  font-family: serif;
  font-size: 16pt;
}


/* unvisited link */
a:link {
    color: #1480A5;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #123944;
}

/* selected link */
a:active {
    color: blue;
}

a:visited {
    color: #1480A5;
    text-decoration: none;
}

.code
{
  font-family: 'Courier New';
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; 
  padding: 1rem 1.5rem; 
}